<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blogspot.tndev1403.fishSurvey">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_show"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_show"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:supportsRtl">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.blogspot.tndev1403.Coppa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <service
            android:name=".services.SyncDataService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.homescreen.HomeScreenActivity"
            android:label="@string/title_activity_fs_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.reviewscreen.ReviewScreenActivity" />
        <activity android:name=".view.storagesceen.StorageScreenActivity" />
        <activity android:name=".view.savesuccessscreen.SaveSuccessScreenActivity" />
        <activity android:name=".view.fishcatchinputscreen.FishCatchInputActivity" />
        <activity android:name=".view.fishscreen.FishScreenActivity" />
        <activity
            android:name=".view.newcaptainscreen.NewCaptainScreenActivity"
            android:theme="@style/TN_NoActionBar" />
        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:theme="@style/TN_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
